<% for (let flashMessage of flashMessages) { %>
  <% if (flashMessage.value.length > 0) { %>
    <div class="alert alert-<%= flashMessage.key %> alert-dismissible fade show" role="alert">
      <%= flashMessage.value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
<% } %>