#cluster-map {
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
}

#map {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.register-card {
    width: 20rem;
}

.navbar {
    padding: 0.5% 7%; 
}

.navbar, .footer {
    background-color: #283C63;
}

.search-input {
    width: 37.5%;
}